each semesterData, semesterName in courseData
  .semesterContainer(class=semesterName)

    each departmentData, departmentName in semesterData
      .departmentContainer(class=departmentName)

        each course in departmentData
          //- .row.course(class=course['foundation'] + ' ' + course['area'] + ' ' + course['division'])
          div(class=course['foundation'] + ' ' + course['area'] + ' ' + course['division'])
            //- .column.small-2.medium-3
            div
              = course['courseCode']
            //- .column.small-4
            div
              = course['courseTitle']
            //- .column.small-4
            div
              = course['meetingTime']
            //- .column.small-2.medium-1
            div
              i.exp.fi-list
            //- .secondary-info
            div
              div
                = 'CRN: ' + course['crn']
              div
                = 'Place: ' + course['meetingPlace']
              div
                = 'Prof.: ' + course['professors']
              div
                = 'Found: ' + course['foundation']
              div
                = 'Div: ' + course['division']
              div
                = 'Area: ' + course['area']
              //- div
                //- |Connection: 
                //- a(href=course['connectionsLink'])= course['connections']
              //- div
                //- a(href=course['examSlotLink'])= 'Exam Slot: ' + course['examSlot']
                //- = 'Exam Slot: ' + course['examSlot']
              //- div
                //- a(href=course['textbookLink']) Textbook