each semesterData, semesterName in courseData
  .semesterContainer(class=semesterName)

    each departmentData, departmentName in semesterData
      .departmentContainer(class=departmentName)

        each course in departmentData
          .row.course(class=course['foundation'] + ' ' + course['area'] + ' ' + course['division'])
            .columns.small-2.medium-3
              = course['courseCode']
            .columns.small-4
              = course['courseTitle']
            .columns.small-4.text-right
              = 'Time: ' + course['meetingTime']
            .columns.small-2.medium-1
              i.exp.fi-list
            .secondary-info
              div
                = 'CRN: ' + course['crn']
              div
                = 'Place: ' + course['meetingPlace']
              div
                = 'Prof.: ' + course['professors']
              div
                = 'Foundation: ' + course['foundation']
              div
                = 'Division: ' + course['division']
              div
                = 'Area: ' + course['area']
              div
                |Connection: 
                a(href=course['connectionsLink'])= course['connections']
              div
                //- a(href=course['examSlotLink'])= 'Exam Slot: ' + course['examSlot']
                = 'Exam Slot: ' + course['examSlot']
              div
                a(href=course['textbookLink']) Textbook