each semesterData, semesterName in courseData
  .semesterContainer(class=semesterName)

    each departmentData, departmentName in semesterData
      .departmentContainer(class=departmentName)

        each course in departmentData
          div(class=course.foundation + ' ' + course.area + ' ' + course.division)
            div
              = course.courseCode
            div
              = course.courseTitle
            div
              = course.meetingTime
            div
              i.exp.fi-list
            div
              div= course.crn
              div= course.meetingPlace
              div= course.professors
              div= course.foundation
              div= course.division
              div= course.area
              div: a(href=course.connectionsLink)= course.connections
              div: a(href='https://weblprod1.wheatonma.edu/' + course.examSlotLink)= course.examSlot
              div: a(href=course.textbookLink) here
              //- div= course.currentEnroll + ' / ' + course.maxEnroll + ' (' + course.seatsAvailable + ') - ' + course.waitList
              div= course.currentEnroll + ' / ' + course.maxEnroll + ' (' + course.waitList + ')'
              if course.courseNotes
                div= course.courseNotes