extends skeleton_general

block scripts
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

  //- Easier method than putting target='_blank' on every link
  //- base(target='_blank')

block page-title
  |Wave

block header
  |WAVE

block contents
  input#semester(type='hidden' value=semester)

  script.
    var cartData = !{cartData || 'null'};
    var sessionId = '#{sessionId}';

  .row#error-message= errorMessage

  .row
    #filters.columns.small-11.large-4.small-centered.medium-uncentered
      .row#heads-up All changes are applied immediately.


      include ../data/course-data/compiled/filters.html

      .row#schedule
        .column.small-12
          //- include ../static/jade-includes/week-schedule.jade
          - var trans = { 'label-col': 'Times', 'mon': 'Monday', 'tue': 'Tuesday', 'wed': 'Wednesday', 'thu': 'Thursday', 'fri': 'Friday' }
          each day in ['label-col', 'mon', 'tue', 'wed', 'thu', 'fri']
            //- Saving: class= (time % 100) ? 'underlined' : ''
            .sched-col(id=day)
              .col-title= trans[day]
              each time in [800, 830, 900, 930, 1000, 1030, 1100, 1130, 1200, 1230, 1300, 1330, 1400, 1430, 1500, 1530, 1600, 1630, 1700, 1730]
                .sched-row(data-timeslot=time)
                  if (day == 'label-col' && (time % 100 == 0))
                    - var time = (time % 1200 >= 100) ? (time % 1200) : time
                    - time += 30
                    p= time.toString().slice(0, -2) + ':' + time.toString().slice(-2)

      .row#cart
        |Your saved courses:



    .column.small-12.large-7.dataContainer
      #loading-placeholder
        #progress-value
        img(src='/images/spinner.gif')
      //- != dynamicData