#filters.row
  .columns.small-12
    select(name='semester')
      each semester in filterData.semester
        option(value=semester.val)= semester.display

  .columns.small-6
    select(name='department')
      option(value='all') - Department -
      each department in filterData['department']
        option(value=department.val)= department.display
    i.fi-info.has-tip(data-tooltip title='Please let us know if any are missing.')


  .columns.small-6
    select(name='area')
      option(value='all') - Area -
      each area in filterData['area']
        option(value=area.val)= area.display
    i.fi-info.has-tip(data-tooltip title='Areas are useful for self-declaring connections. Requirements such as connections are best clarified with your advisor.')


  .columns.small-6
    select(name='foundation')
      option(value='all') - Foundation -
      each foundation in filterData['foundation']
        option(value=foundation.val)= foundation.display
    i.fi-info.has-tip(data-tooltip title='Foundations are necessary for graduating Wheaton. Requirements such as these are best clarified with your advisor.')

  .columns.small-6
    select(name='division')
      option(value='all') - Division -
      each division in filterData['division']
        option(value=division.val)= division.display
    i.fi-info.has-tip(data-tooltip title='A course from each division is required to graduate Wheaton. Requirements such as these are best clarified with your advisor.')
